footer(class='page-footer green lighten-1')
  .container
    .row
      .col.l2.s12
        h6.white-text Unimind
      .col.l6.s12
        h6.grey-text.text-lighten-4 Search, Start, Share
  .footer-copyright
    .container Made by 
      a(href='http://www.github.com/gemineses' class='rgbGray') Gemineses