.row
  nav(class='green lighten-1', role='navigation')
    div(class='nav-wrapper container')
      a(id='logo-container', href='#', class='brand-logo') 
        img(class='materialbox' width='100' src='images/logo2.png') 
      ul(class='right hide-on-med-and-down')
        li
        a(href='#')
      ul(id='nav-mobile' class='side-nav')
        li
          a(href='#') Navbar Link
      a(href='#' data-activates='nav-mobile' class='button-collapse')
        i(class='material-icons') menu
  #index-banner.section.no-pad-bot