extends layout

block index
  .row
    .col.l6.offset-l3.s12.m7
      .card.large
        .card-image
          img(src='images/cardWall.jpg')
          span(class='card-title') UNIMIND
        .card-content
          .p.center Search, Start, Share.
            | Public Social Media.
        .card-action.center
          ul(class='collapsible' data-collapsible='accordion')
            li
              .collapsible-header.waves-effect.waves-light.btn.green Let's started!
              .collapsible-body
                .row
                  form.col.s12
                    .row
                      .input-field.col.s6
                        i.material-icons.prefix account_circle
                        input(id='txt_username' type='text' class='validate')
                        label(for='txt_username') User
                      .input-field.col.s6
                        i.material-icons.prefix visibility_off
                        input(id='txt_password' type='password' class='validate')
                        label(for='txt_password') Password
                    .row#errormsg
                    .row
                      .col.l3.offset-l1
                        a(class='waves-effect waves-light btn' value='Login' onclick='login()') Login
                      .col.l6.offset-l1
                        a(href='login' class='waves-effect waves-light btn') Create account
  .row
    .p.center By 
      a(href='https://www.github.com/gemineses' class='textGreen') Gemineses