doctype html
html
  head
    title Unimind
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='bower_components/Materialize/dist/css/materialize.min.css')
    link(rel='shortcut icon' type='image/x-icon' href='images/icon.png')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    script(type='text/javascript' src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/Materialize/dist/js/materialize.min.js')
  block index
    body
  block content
    body.indexWallpaper