ul.collection
  li.collection-item.avatar
    img(src='images/eddie.jpg' alt='' class='circle')
    span.title Title
    p First Line
      | Second Line
    a(href='#!' class='secondary-content')
      i.material-icons grande
  li.collection-item.avatar
    i.material-icons.circle forlder
    span.title Title
    p First Line
      | Second Line
    a(href='#!' class='secondary-content')
      i.material-icons grande
  li.collection-item.avatar
    i.material-icons.circle.red forlder
    span.title Title
    p First Line
      | Second Line
    a(href='#!' class='secondary-content')
      i.material-icons grande
  li.collection-item.avatar
    i.material-icons.circle.green forlder
    span.title Title
    p First Line
      | Second Line
    a(href='#!' class='secondary-content')
      i.material-icons grande
  li.collection-item.avatar
    i.material-icons.circle.green forlder
    span.title Title
    p First Line
      | Second Line
    a(href='#!' class='secondary-content')
      i.material-icons grande

.card
    .card-image.waves-effect.waves-block.waves-light
      img(class='activator' src='images/eddie.jpg')
    .card-content
      span(class='card-title activator grey-text text-darken-4') Card Title <i class="material-icons right">more_vert</i>
    p <a href="#">This is a link</a>
    .card-reveal
      span(class='card-title grey-text text-darken-4') Card Title <i class="material-icons right">close</i>
    p Here is some more information about this product that is only revealed once clicked on.

ul.collection
  li.collection-item.avatar
    img(src='images/eddie.jpg' alt='' class='circle')
    span.title Title
    p First Line
      | Second Line
    a(href='#!' class='secondary-content')
      i.material-icons grande
  li.collection-item.avatar
    i.material-icons.circle forlder
    span.title Title
    p First Line
      | Second Line
    a(href='#!' class='secondary-content')
      i.material-icons grande
  li.collection-item.avatar
    i.material-icons.circle.red forlder
    span.title Title
    p First Line
      | Second Line
    a(href='#!' class='secondary-content')
      i.material-icons grande
  li.collection-item.avatar
    i.material-icons.circle.green forlder
    span.title Title
    p First Line
      | Second Line
    a(href='#!' class='secondary-content')
      i.material-icons grande
  li.collection-item.avatar
    i.material-icons.circle.green forlder
    span.title Title
    p First Line
      | Second Line
    a(href='#!' class='secondary-content')
      i.material-icons grande
  li.collection-item.avatar
    i.material-icons.circle.green forlder
    span.title Title
    p First Line
      | Second Line
    a(href='#!' class='secondary-content')
      i.material-icons grande
  li.collection-item.avatar
    i.material-icons.circle.green forlder
    span.title Title
    p First Line
      | Second Line
    a(href='#!' class='secondary-content')
      i.material-icons grande
  li.collection-item.avatar
    i.material-icons.circle.green forlder
    span.title Title
    p First Line
      | Second Line
    a(href='#!' class='secondary-content')
      i.material-icons grande