extends layout

block index
  header
    include header
  main
    .row
      form.col.l4.offset-l4.white(method='POST' action='createAccount' id='loginForm')
        .row
          .input-field
            i.material-icons.prefix account_circle
            input(id='txt_username' type='text' class='validate' name='username')
            label(for='txt_username') User Name
        .row
          .input-field
            i.material-icons.prefix visibility_off
            input(id='txt_password' type='password' class='validate' name='password')
            label(for='txt_password') Password
        .row
          .input-field
            i.material-icons.prefix visibility_off
            input(id='txt_confirm_password' type='password' class='validate' name='confirmpassword')
            label(for='txt_confirm_password') Confirm password
        .row
          .col.l4
            a(class='waves-effect waves-light btn' onclick='valempty();') Save
        .row
          .col.l12#errormsg