.collection.notBorder
  a(class='collection-item' href='/')
    <i class="tiny material-icons"> home </i> UNIMIND
  a(class='collection-item' href='#projects')
    <i class="tiny material-icons"> work </i> Projects
  a(class='collection-item' href='#questions')
    <i class="tiny material-icons"> question_answer </i> Questions
  a(class='collection-item' href='#guides')
    <i class="tiny material-icons"> library_books </i> Guides
  a(class='collection-item' href='#setting')
    <i class="tiny material-icons"> settings </i> Settings