extends layout

block content
  header
    include header
  main
    .row
      .col.l2.s12
        include quickMenu
      .col.l7.s12.scroll
        include lifeTime
      .col.l3.s12.scroll
        include infoPanel